<% @questions.each_with_index do |q, i| %>
  <div class="mb-3">
    <h5>
      Q<%= i+1 %>, <%= q.question %>
    </h5>
    <div class="container">
      <div class="row">
        <div class="col my-3">
          <%= q.answer.correct %>
        </div>
        <div class="col my-3">
          <%= q.answer.incorrect_1 %>
        </div>
        <div class="col my-3">
          <%= q.answer.incorrect_2 %>
        </div>
      </div>
    </div>
    <div>
      <%= q.answer.comment %>
    </div>
  </div>
<% end %>