<h1>Quizzes#new</h1>

<%= form_with model: @quiz do |f| %>
  <div class="mb-3">
    <%= f.label :title, class: "form-label" %>
    <%= f.text_field :title, class: "form-control", required: true %>
  </div>
  <div class="mb-3">
    <%= f.label :url, class: "form-label" %>
    <%= f.text_field :url, class: "form-control", required: true %>
  </div>
  <%= f.submit "送信", class: "btn btn-primary" %>
<% end %>

<hr>
<div class="about my-3">
  <h2>クイズスプレッドシートのアップロード方法</h2>
  <h3>Title</h3>
  <p>クイズのタイトルを50字以内で入力します。<br>
    例: 数学Ⅰ, 自動車教習所向け, ドラゴンボールクイズ  など</p>
  <h3>url</h3>
  <p>スプレッドシートのurlを入力します。</p>
  <h3>送信</h3>
  <p>入力した情報を送信します。</p>
</div>